.main-navbar {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-logo-item {
  color: #333;
}

.navbar-items-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-items-container ul li {
  margin-left: 10px;
  color: #333;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .main-navbar {
    flex-direction: column;
  }

  .navbar-items-container ul {
    flex-direction: column;
  }

  .navbar-items-container ul li {
    margin: 5px 0;
  }
}
