.main-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.navbar-logo-item {
  text-transform: uppercase;
  font-size: 35px;
  cursor: pointer;
}
.navbar-items-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.navbar-items-container ul li {
  width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}
input[type="text"] {
  padding: 3px;
  margin: 3px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}
.navbar-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchIcon {
  width: 20px;
  height: 17px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .main-navbar {
    flex-direction: column;
  }

  .navbar-items-container ul {
    flex-direction: column;
  }

  .navbar-logo-item {
    font-size: 25px;
  }

  .navbar-items-container ul li {
    width: auto;
    margin-bottom: 10px;
  }
}
