.showingBlogContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.showingBlogContainer input[type="checkbox"] {
  margin-right: 10px;
}

.spanNumbers {
  margin-right: 10px;
  font-weight: bold;
}

.originalBlog {
  flex-grow: 1;
  font-size: 16px;
  color: #333;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .showingBlogContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .showingBlogContainer input[type="checkbox"] {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .spanNumbers {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .originalBlog {
    font-size: 14px;
  }
}
